.my-navbar-bg {
  background: linear-gradient(to right, #50bd9c, #d8e022);
  min-width: 300px;
}

.my-menu-group {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.my-btn-hover:hover {
  background-color: #e1e1e1;
  padding-top: 3px;
  border-radius: 10px;
}

.my-header-bg {
  background-color: #e1e1e1;
  min-width: 300px;
}

.my-header-title {
  margin-left: 10%;
}

.my-title {
  margin: 0;
  text-align: left;
  padding-bottom: 5px;
}

.my-dash {
  color: #2a2e2f;
  font-size: 12px;
  padding-top: 5px;
}
